<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="layout/layout-padrao">

<body id="body">

<section layout:fragment="custom-content">
<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Cadastro De Produtos</h1>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="page-wrapper">
    <div class="checkout shopping">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <div class="block billing-details">
                   <h4 class="widget-title">Dados Produto</h4>
                   <form method="post" action="/produto/novo" enctype="multipart/form-data" th:object="${produto}" class="checkout-form" id="formProduto">
                      <div class="form-group">
                         <label for="descricao">Nome</label>
                         <input type="text" class="form-control" id="nome" placeholder="" name="nome" th:field="*{nome}">
                      </div>
                      <div class="form-group">
                         <label for="descricao">Descrição</label>
                         <input type="text" class="form-control" id="descricao" placeholder="" name="descricao" th:field="*{descricao}">
                      </div>
                      <div class="form-group">
                         <label for="valorVenda">Preço</label>
                         <input type="double" class="form-control" id="valorVenda" placeholder="" name="valorVenda" th:field="*{valorVenda}">
                      </div>
                      <div class="checkout-country-code clearfix">
                         <div class="form-group">
                            <label for="categoria">Categoria</label>
                            <input type="text" class="form-control" id="categoria" name="categoria" th:field="*{categoria}">
                         </div>
                         <div class="form-group" >
                            <label for="marca">Marca</label>
                            <input type="text" class="form-control" id="marca" name="marca" th:field="*{marca}">
                         </div>
                      </div>
                      <div class="form-group col-md-12">
                         <input type="file" name="file"/>
                      </div>
                  <button type="submit" class="btn btn-main mt-20">Cadastrar</button>  
                </form>
            </div>
         </div>
      </div>
   </div>
</div>
</div>  

                         <!-- Modal -->
   <div class="modal fade" id="coupon-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-body">
             <form>
                <div class="form-group">
                   <input class="form-control" type="text" placeholder="Enter Coupon Code">
                </div>
                <button type="submit" class="btn btn-main">Apply Coupon</button>
             </form>
          </div>
       </div>
    </div>
 </div>
</section>
</body>
</html>