<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:th="http://www.thymeleaf.org"
	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	   layout:decorate="layout/layout-padrao">

<body id="body">
<section layout:fragment="custom-content">
<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Produtos</h1>
					<ol class="breadcrumb">
						<li><a th:href="@{/index.html}">Inicio</a></li>
						<li class="active">Produtos</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="dashboard-wrapper user-dashboard">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Descrição</th>
                  <th>Valor</th>
                  <th>Categoria</th>
                  <th>Marca</th>
                 <th></th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="produto : ${produtos}">
                  <td th:text="${produto.nome}"></td>
                  <td th:text="${produto.valorVenda}"></td>
                  <td th:text="${produto.categoria}"></td>
                  <td th:text="${produto.marca}"></td>
                  
                  <td>
                    <div class="btn-group" role="group">
                      <a th:href="@{/produto/editar/{id}(id=${produto.id})}" class="btn btn-default"><i class="tf-pencil2" aria-hidden="true"></i></a>
                      <a th:href="@{/produto/deleta/{id}(id=${produto.id})}" class="btn btn-default"><i class="tf-ion-close" aria-hidden="true"></i></a>
                    </div>
                  </td>
				</tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</section>
</body>
</html>